.armorDisplayContainer{
    display: flex;
    flex-flow: row wrap;
    background-color:beige;
    border: 2px solid black;
    color: black;
    height: 100px;
}

.skillDisplay{
    width: 190px;
    border-left: 1px solid black;
    border-right: 1px solid black;

}

.armorInfoDisplay{
    width: 120px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-left: 5px;
}

.skillRow{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid black;
    /* padding: 2px; */
    background-color: rgb(247, 247, 236);
    height: 9px;
    line-height: 9px;
}

.skillRow1{
    width: 160px;
}

.skillRow2{
    text-align: right;
    width: 18px;
}

.displayIcon{
    width: 25px;
    margin: auto;
}

.equipButton{
    flex-basis: 70%;
    margin:auto;
}