.armorDisplayContainer{
    display: flex;
    flex-flow: row wrap;
    background-color:beige;
    border: 2px solid black;
    color: black;
}

.skillDisplay{
    width: 190px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

.skillDisplaySet{
    width: 140px;
    border-left: 1px solid black;
    border-right: 1px solid black;
    font-size: 10px;
}

.armorInfoDisplay{
    width: 120px;
    border-right: 1px solid black;
    border-left: 1px solid black;
    padding-left: 5px;
}

.skillRow{
    display: flex;
    flex-flow: row wrap;
    border-bottom: 1px solid black;
    padding: 5px;
}

.skillRow1{
    width: 160px;
}

.skillRow1Set{
    width: 110px;
}

.decorationPic{
    width: 25px;
}

.decorationDisplaySet{
    background-color:rgb(250, 250, 236);
    border: 2px solid black;
    color: black;
    width: 152px
}

.armorInfoSet{
    width: 120px;
    padding-left: 5px;
    font-size: 12px;
}

.equipButton{
    flex-basis: 70%;
    margin: auto;
}