.armorDisplay{
    display: flex;
    flex-flow: column wrap;
    flex-basis: 40%;
}

.armorIcon{
    height: 75px;
    width: 75px;
    padding-top: 5px;

}

.setBuilderMain{
    display: flex;
    flex-flow: row wrap;
}